{% extends "base.html.twig" %}

{% block title %}API
{% endblock %}

{% block body %}
	<h1>API</h1>
	<h3>Available API:s</h3>

	<p><b>/api/quote</b></p>
	<p>Gives you a quote from Benjamin Hoff's <i>The Tao of Pooh</i> from 1982.</p>
	<form method="get" action="">
		<input type="submit" name="quote" value="quote" onclick="this.form.action='{{ path('api_quote') }}';">
	</form>

	<p><b>/api/deck</b></p>
	<form method="get" action="">
		<input type="submit" name="deck" value="deck" onclick="this.form.action='{{ path('api_deck') }}';">
	</form>

	<p><b>/api/deck/shuffle</b></p>
	<form method="post" action="">
		<input type="submit" name="shuffle" value="Shuffle" onclick="this.form.action='{{ path('api_deck_shuffle') }}';">
	</form>

	<p><b>/api/deck/draw</b></p>
	<form method="post" action="">
		<input type="submit" name="draw" value="Draw" onclick="this.form.action='{{ path('api_deck_draw') }}';">
	</form>

	<p><b>/api/deck/draw/{num}</b></p>
	<form method="post" action="">
		<input type="number" name="num_cards" min="1" max="52" value="1">
		<input type="submit" name="draw" value="Draw" onclick="this.form.action='{{ path('api_deck_draw') }}';">
	</form>
{% endblock %}
