<nav>
	<ul>
		<li><a href="{{ path("home") }}">Hem</a></li>
		<li><a href="{{ path("about") }}">Om</a></li>
		<li><a href="{{ path("report") }}">Rapport</a></li>
		<li><a href="{{ path("lucky") }}">Lucky?</a></li>
		<li><a href="{{ path("pig_init_get") }}">Pig game</a></li>
	</ul>
</nav>
